@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-in: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

:root {
  --foreground: oklch(0.145 0 0);
  --background: oklch(0.9923 0.0029 84.56);
  --color-primary: oklch(0.5309 0.21 24.5);
}

.dark {
  --background: oklch(0.145 0 0);
  --background: oklch(0.9923 0.0029 84.56);
  --color-primary: oklch(0.5309 0.21 24.5);
}

@layer base {
  body {
    @apply bg-background text-foreground font-medium;
  }
}

@layer components {
  .navlink {
    @apply hover:text-primary transition-colors duration-150;
  }

  .dropdown-link {
    @apply my-0.25 flex cursor-pointer items-center justify-start gap-1;
  }

  .carousel-container {
    @apply relative mb-6 overflow-hidden rounded-md;
  }

  .carousel-item {
    @apply mx-auto rounded-md object-cover;
  }
}
